// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "active_admin_datetimepicker";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

#appointments .calendar{
  border-collapse: collapse;
  width: 100%;

  td, th {
  	font-family: "Lucia Grande", arial, helvetics, sans-serif;
  	font-size: 10px;
  	padding: 6px;
  	border: 1px solid #999;
  }

  th { 
  	background: #DDD;
  	color: #666;
  	text-align: center;
  	width: 14.2857142857143%;
  }

  td {
	  background: #FFF;
	  color: #777;
	  height: 80px;
	  vertical-align: top;
	  font-size: 8px;
  }

  .notmonth { color: #FFF; }
  .today { background-color: #D7F2FF; }
}

#appointments #month {
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	a {
		text-decortation: none;
		padding: 0 10px;
		color: #999;
	}
}

#appointments ul {
	font-size: 11px;
	padding-left: 10px;
}

